.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.form {
  width: 60%;
  margin: 100px;
}
.me-auto {
  background-color: black;
  width: 100%;
  padding-left: 80px;
}
.title {
  margin: 50px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  text-align: center;
  color: white;
}
